<!--BLOGS-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span class="collapsed">
        10 блок (Blogs)
      </span>
    </h4>
  </div>
  <div class="panel-collapse collapsed">
    <div class="panel-body">
      <form name="blogsForm" ng-submit="vm.save()" class="mb-20">
        <div class="form-group">
          <label for="inp80">Заголовок</label>
          <input type="text" class="form-control" ng-model="vm.data.blogs.title" id="inp80">
        </div>
        <div class="form-group">
          <label for="inp81">Підзаголовок</label>
          <input type="text" class="form-control" ng-model="vm.data.blogs.subtitle" id="inp81">
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-default">Зберегти</button>
        </div>
      </form>

      <div class="jumbotron">
        <form name="blogForm" ng-submit="vm.addBlog(vm.newBlog)" class="mb-20">
          <div class="form-group">
            <label for="inp82">Заголовок</label>
            <input type="text" class="form-control" ng-model="vm.newBlog.title" id="inp82" required>
          </div>

          <div class="form-group">
            <label for="inp83">Короткий опис</label>
            <textarea class="form-control" ng-model="vm.newBlog.smallDescription" id="inp83"></textarea>
          </div>

          <div class="form-group">
            <label for="inp85">Повний опис</label>
            <textarea class="form-control" ng-model="vm.newBlog.description" id="inp85"></textarea>
          </div>

          <div class="form-group">
            <label for="inp84">Фото</label>
            <input type="file" id="inp84" ng-model="vm.newBlog.photo" name="file">
            <div class="help-block">Логотип (570x400).</div>
          </div>

          <div class="text-right">
            <button type="submit" class="btn btn-default" ng-disabled="blogForm.$invalid">Зберегти</button>
          </div>
        </form>
      </div>

      <section class="bg-light from-blog" id="blog">
        <div class="container">
          <div class="row">
            <div class="owl-theme">

              <div class="col-xs-6 blog-col" ng-repeat="blog in vm.data.blogs.blogs | orderBy: 'created' track by $index">
                <div class="entry-img">
                  <span class="icon_pencil edit-btn" ng-click="vm.editBlog(blog)"></span>
                  <span class="icon_close delete-btn" ng-click="vm.removeBlog(blog)"></span>

                  <a href="#">
                    <img src="assets/images/blog_1.jpg" alt="">
                  </a>
                </div>
                <div class="entry-box">
                  <div class="entry-title">
                    <h4><a href="#">{{blog.title}}</a></h4>
                  </div>
                  <ul class="entry-meta">
                    <li>
                      <a href="#">{{blog.created|date:'MMMM dd, yyyy'}}</a>
                    </li>
                  </ul>
                  <div class="entry-content">
                    <p>{{blog.smallDescription}}</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </section> <!-- end progress bars -->

    </div>
  </div>
</div>
<!--END BLOGS-->