<!--ORDERS-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span class="collapsed">
        5 блок (Orders)
      </span>
    </h4>
  </div>
  <div class="panel-collapse collapsed">
    <div class="panel-body">
      <div class="jumbotron">
        <form name="orderForm" ng-submit="vm.addItem(vm.newOrder, 'orders', 'newOrder')" class="mb-20">
          <div class="form-group">
            <label for="inp14">Заголовок</label>
            <input type="text" class="form-control" ng-model="vm.newOrder.title" id="inp14" required>
          </div>
          <div class="form-group">
            <label for="inp15">Підзаголовок</label>
            <input type="text" class="form-control" ng-model="vm.newOrder.subtitle" id="inp15" required>
          </div>
          <div class="form-group">
            <label for="inp16">Текст</label>
            <input type="text" class="form-control" ng-model="vm.newOrder.text" id="inp16" required>
          </div>
          <div class="form-group">
            <label for="inp18">Текст кнопки</label>
            <input type="text" class="form-control" ng-model="vm.newOrder.btnText" id="inp18" required>
          </div>
          <div class="form-group">
            <label for="inp17">Картинка</label>
            <input type="file" id="inp17" ng-model="vm.newOrder.image" id="file" name="file">
            <div class="help-block">Логотип (570x408).</div>
          </div>

          <div class="text-right">
            <button type="button" class="btn btn-default" ng-click="vm.clearForm('newOrder')">Відміна</button>
            <button type="submit" class="btn btn-default" ng-disabled="orderForm.$invalid">Додати</button>
          </div>
        </form>
      </div>

      <section class="promo-section">
        <div class="owl-theme">
          <div class="item col-xs-6 bg-dark" ng-repeat="order in vm.data.orders.orders track by $index">
            <span class="icon_pencil edit-btn" ng-click="vm.editItem('newOrder', order)"></span>
            <span class="icon_close delete-btn" ng-click="vm.removeItem(order, 'orders')"></span>

            <div class="row">

              <div class="col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                <img ng-src="{{order.image}}" src="assets/images/promo_img_1.png" alt="">
              </div>

              <div class="col-md-6 promo-description">
                <p class="subheading">{{order.title}}</p>
                <h3 class="color-white">{{order.subtitle}}</h3>
                <p class="mb-30">{{order.text}}</p>
                <a href="#" class="btn btn-lg btn-color">{{order.btnText}}</a>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!--END ORDERS-->