<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span role="button">
        Slider
      </span>
    </h4>
  </div>

  <div class="panel-collapse collapsed">
    <div class="panel-body">
      <form ng-submit="vm.save()">
        <div class="form-group">
          <label for="text1">Заголовок</label>
          <input type="text" class="form-control" ng-model="vm.data.slider.title" id="text1">
        </div>
        <div class="form-group">
          <label for="text2">Підзаголовок</label>
          <input type="text" class="form-control" ng-model="vm.data.slider.subtitle" id="text2">
        </div>
        <div class="form-group">
          <label for="text3">Текст кнопки</label>
          <input type="text" class="form-control" ng-model="vm.data.slider.btnText" id="text3">
        </div>
        <div class="form-group">
          <label for="text4">Відео ID (Vimeo video id)</label>
          <input type="text" class="form-control" ng-model="vm.data.slider.videoId" id="text4">
        </div>
        <div class="form-group">
          <label>Картинка - фон (1230x691)</label>

          <div>
            <button type="button" class="btn btn-default" ng-click="vm.upload(vm.data.slider, 'image')">
              Upload <span class="caret"></span>
            </button>
          </div>

          <div style="margin-top:10px;" ng-if="vm.data.slider.image">
            <img ng-src="{{vm.data.slider.image.url | fpConvert: {w:1230, h:691} }}">
          </div>
        </div>

        <div class="text-right">
          <button type="submit" class="btn btn-default">Зберегти</button>
        </div>
      </form>
    </div>
  </div>
</div>