<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span class="collapsed">
        Welcome
      </span>
    </h4>
  </div>

  <div class="panel-collapse collapsed">
    <div class="panel-body">
      <form ng-submit="vm.save()">
        <div class="form-group">
          <label for="inp1">Заголовок</label>
          <input type="text" class="form-control" ng-model="vm.data.welcome.title" id="inp1">
        </div>
        <div class="form-group">
          <label for="inp2">Текст</label>
          <textarea rows="3" class="form-control" ng-model="vm.data.welcome.text" id="inp2"></textarea>
        </div>
        <div class="form-group">
          <label>Лого (192x189)</label>
          <div>
            <button type="button" class="btn btn-default" ng-click="vm.upload(vm.data.welcome, 'logo')">
              Upload <span class="caret"></span>
            </button>
          </div>

          <div style="margin-top:10px;" ng-if="vm.data.welcome.logo">
            <img ng-src="{{vm.data.welcome.logo.url | fpConvert: {w:192, h:189} }}">
          </div>
        </div>

        <div class="text-right">
          <button type="submit" class="btn btn-default">Зберегти</button>
        </div>
      </form>
    </div>
  </div>
</div>