<div class="clearfix center-block mb-40">
  <div class="btn-group center-block" role="group" aria-label="...">
    <button class="btn col-xs-6 col-sm-3 btn-lg active" type="button" data-filter="*">All</button>
    <button class="btn col-xs-6 col-sm-3 btn-lg" type="button" data-filter=".weeding">Wedding</button>
    <button class="btn col-xs-6 col-sm-3 btn-lg" type="button" data-filter=".advertising">Advertising</button>
    <button class="btn col-xs-6 col-sm-3 btn-lg" type="button" data-filter=".music">Music Video</button>
  </div>
</div>

<div class="grid-3-col grid-wide grid-gutter grayscale mas-grid">
  <div class="work-item web-design print {{work.category}}" data-category="{{work.category}}" ng-repeat="work in worksCtrl.worksData">
    <div class="work-img">
      <img ng-src="{{work.photoMain.url}}" alt="">
      <div class="work-overlay">
        <div class="work-description">
          <h3>
            <a href="portfolio-single">{{work.name}}</a>
          </h3>
          <span>
            <a href="#">{{work.smallDescription}}</a>
          </span>
        </div>

        <a href="{{work.photoMain.url}}" class="lightbox-gallery btn btn-lg btn-transparent" title="{{work.name}}" data-items="{{work.morePictures}}" data-video="{{work.videoId}}">View Work</a>
      </div>
    </div>
  </div>
</div>
