#sidebar {

	.sidebar {
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    z-index: 1000;
	    display: block;
	    height: 100%;
	}
	.sidebar-link {
		padding: .55rem .2rem;
		margin-top: .25rem;

		i {
			margin-left: .75rem;
			margin-right: .5rem;
		}
		a {
		}
	}
	.active {

		i {
		}
		a {
		}
	}
	.sidebar-footer {
		position: fixed;
		bottom: 0;
		left: 0;
		text-align: center;
		padding: 15px 5px;

		img {
		}
	}
}