<div class="container-fluid">
  <div class="row">

    <div class="col-md-4 nopadding" ng-repeat="achievement in achievementsCtrl.listData">
      <div class="statistic result-box result-box-first">
        <div class="result-wrap clearfix">
          <i class="icon icon-{{achievement.icon}}"></i>
          <span class="timer" data-from="0" data-to="{{achievement.number}}"></span>
          <span class="counter-text">{{achievement.text}}</span>
        </div>
      </div>
    </div>

  </div>
</div>
