<div class="wrapper pt-100">
	<div class="container-fluid">
		<div class="row">
      <div class="col-xs-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  1 блок
                </a>
              </h4>
            </div>
            
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <form ng-submit="vm.save()">
                  <div class="form-group">
                    <label for="text1">Заголовок</label>
                    <input type="text" class="form-control" ng-model="vm.data.first.first_title" id="text1">
                  </div>
                  <div class="form-group">
                    <label for="text2">Підзаголовок</label>
                    <input type="text" class="form-control" ng-model="vm.data.first.first_subtitle" id="text2">
                  </div>
                  <div class="form-group">
                    <label for="text3">Текст кнопки</label>
                    <input type="text" class="form-control" ng-model="vm.data.first.first_btnText" id="text3">
                  </div>
                  <div class="form-group">
                    <label for="text4">Відео ID (Vimeo video id)</label>
                    <input type="text" class="form-control" ng-model="vm.data.first.first_videoId" id="text4">
                  </div>
                  
                  <button type="submit" class="btn btn-default">Зберегти</button>
                </form>
              </div>
            </div>
          </div>
          
          
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  2 блок
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <form ng-submit="vm.save()">
                  <div class="form-group">
                    <label for="inp1">Заголовок</label>
                    <input type="text" class="form-control" ng-model="vm.data.second.second_title" id="inp1">
                  </div>
                  <div class="form-group">
                    <label for="inp2">Текст</label>
                    <textarea rows="3" class="form-control" ng-model="vm.data.second.second_text" id="inp2"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="inp3">Лого</label>
                    <input type="file" id="inp3" ng-model="vm.data.second.second_logo" >
                    <p class="help-block">Логотип (192x189).</p>
                  </div>

                  <button type="submit" class="btn btn-default">Зберегти</button>
                </form>
              </div>
            </div>
          </div>
          
          
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  3 блок
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <form ng-submit="vm.addNewThird(vm.newThird)" style="margin-bottom: 15px;">
                  <div class="form-group">
                    <label for="inp4">Цифра</label>
                    <input type="number" class="form-control" ng-model="vm.newThird.number" id="inp4" required>
                  </div>
                  <div class="form-group">
                    <label for="inp5">Текст</label>
                    <input type="text" class="form-control" ng-model="vm.newThird.text" id="inp5" required>
                  </div>
                  <div class="form-group">
                    <label for="inp6">Іконка</label>
                    <input type="text" class="form-control" ng-model="vm.newThird.icon" id="inp6" required>
                  </div>
                  
                  <div class="text-right">
                    <button type="submit" class="btn btn-default">Зберегти</button>
                  </div>
                </form>

                <section class="result-boxes">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-4 nopadding" ng-repeat="third in vm.data.third">
                        <div class="statistic result-box result-box-first">
                          <div class="result-wrap clearfix">
                            <i class="icon icon-{{third.icon}}"></i>
                            <span class="timer">{{third.number}}</span>
                            <span class="counter-text">{{third.text}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
          
        </div>
      </div>
		</div>
	</div>
</div>
