<div id="owl-promo" class="owl-carousel owl-theme">

  <div class="item" ng-repeat="order in ordersCtrl.ordersData">
    <div class="container">
      <div class="row">

        <div class="col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
          <img src="assets/images/promo_img_1.png" alt="">
        </div>

        <div class="col-md-6 promo-description">
          <p class="subheading">{{order.title}}</p>
          <h3 class="color-white">{{order.subtitle}}</h3>
          <p class="mb-30">{{order.text}}</p>
          <a href="#" class="btn btn-lg btn-color">{{order.btnText}}</a>
          <div class="customNavigation mt-40">
            <a class="prev"><i class="icon arrow_left"></i></a>
            <a class="next"><i class="icon arrow_right"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
