<!-- SLIDER -->
<section>
  <slider slider-data="homeCtrl.data.slider"></slider>
</section>
<!-- END SLIDER -->


<!-- WELCOME -->
<section class="section-wrap intro" id="intro">
	<welcome welcome-data="homeCtrl.data.welcome"></welcome>
</section>
<!-- END WELCOME -->


<!-- WORKS -->
<section class="section-wrap works-grid-3-col-wide bg-light" id="portfolio">

  <div class="container-fluid">

    <div class="row heading">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <h2 class="text-center bottom-line">{{homeCtrl.data.works.title}}</h2>
        <p class="subheading text-center">{{homeCtrl.data.works.subtitle}}</p>
      </div>
    </div>

    <works works-data="homeCtrl.data.works.works"></works>
  </div>
</section>
<!-- END WORKS -->


<!-- Call to Action -->
<section class="call-to-action bg-dark">
  <div class="container">
    <div class="row">

      <div class="col-md-9 col-xs-12">
        <h2 style="color: #fff;">{{homeCtrl.data.works.btnDescription}}</h2>
      </div>

      <div class="col-md-3 col-xs-12 cta-button">
        <a href="http://vimeo.com" target="_blank" class="btn btn-lg btn-color">{{homeCtrl.data.works.btnText}}</a>
      </div>

    </div>
  </div>
</section> <!-- end call to action -->


<!-- Our Team -->
<section class="section-wrap our-team" id="about-us">
  <div class="container">

    <div class="row heading">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center bottom-line">{{homeCtrl.data.teams.title}}</h2>
        <p class="subheading text-center">{{homeCtrl.data.teams.subtitle}}</p>
      </div>
    </div>

    <teams teams-data="homeCtrl.data.teams.teams"></teams>
  </div>
</section> <!-- end our team -->


<!-- About us / Progress Bars -->
<section class="section-wrap pt-110 bg-light">
  <div class="container">
    <div class="row mt-minus-30">

      <div class="col-sm-6">
        <div class="about-description mt-30">
          <h4>{{homeCtrl.data.abouts.title}}</h4>
          <p>{{homeCtrl.data.abouts.description}}</p>
        </div>
      </div> <!-- end col -->

      <div class="col-sm-6">
        <abouts abouts-data="homeCtrl.data.abouts.abouts"></abouts>
      </div> <!-- end col -->

    </div>
  </div>
</section> <!-- end progress bars -->


<!-- Contact -->
<section class="section-wrap contact" id="contact">
  <div class="container">

    <div class="row heading">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2 class="text-center bottom-line">{{homeCtrl.data.contacts.title}}</h2>
        <p class="subheading">{{homeCtrl.data.contacts.subtitle}}</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <h5>{{homeCtrl.data.contacts.timeText}}</h5>
        <p>{{homeCtrl.data.contacts.time}}</p>

        <div class="contact-item">
          <div class="contact-icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <h6>Address</h6>
          <p>{{homeCtrl.data.contacts.address}}</p>
        </div> <!-- end address -->

        <div class="contact-item">
          <div class="contact-icon">
            <i class="fa fa-phone"></i>
          </div>
          <h6>Call Us</h6>
          <span>{{homeCtrl.data.contacts.phone}}</span>
        </div> <!-- end phone number -->

        <div class="contact-item">
          <div class="contact-icon">
            <i class="fa fa-envelope-o"></i>
          </div>
          <h6>E-mail</h6>
          <a href="mailto:{{homeCtrl.data.contacts.email}}">{{homeCtrl.data.contacts.email}}</a>
        </div> <!-- end email -->

      </div>

      <div class="col-md-8">
        <form id="contact-form" action="#">

          <div class="row contact-row">
            <div class="col-md-6 contact-name">
              <input name="name" id="name" type="text" placeholder="Name*">
            </div>
            <div class="col-md-6 contact-email">
              <input name="mail" id="mail" type="email" placeholder="E-mail*">
            </div>
          </div>

          <input name="subject" id="subject" type="text" placeholder="Subject">
          <textarea name="comment" id="comment" placeholder="Message"></textarea>
          <input type="submit" class="btn btn-lg btn-color btn-submit" value="Send Message" id="submit-message">
          <div id="msg" class="message"></div>
        </form>
      </div> <!-- end col -->

    </div>
  </div>
</section> <!-- end contact -->


<!-- Google Map -->
<div id="google-map" class="gmap" data-address="{{homeCtrl.data.contacts.address}}"></div>


<!-- Footer -->
<footer class="footer minimal bg-dark">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-md-offset-4">

        <div class="footer-logo local-scroll mb-30 wow zoomIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <h2>
            <a href="#home" class="color-white">ArtSide</a>
          </h2>
        </div>

        <div class="socials footer-socials">
          <a ng-if="homeCtrl.data.contacts.facebook" href="{{homeCtrl.data.contacts.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
          <a ng-if="homeCtrl.data.contacts.twitter" href="{{homeCtrl.data.contacts.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
          <a ng-if="homeCtrl.data.contacts.vimeo" href="{{homeCtrl.data.contacts.vimeo}}" target="_blank"><i class="fa fa-vimeo"></i></a>
          <a ng-if="homeCtrl.data.contacts.vk" href="{{homeCtrl.data.contacts.vk}}" target="_blank"><i class="fa fa-vk"></i></a>
        </div> <!-- end socials -->

        <span class="copyright text-center">
          ©2017 ArtSide  |  Development by <a href="http://https://github.com/olegdemkovych/" target="_blank">Oleg Demkovych</a>
        </span>

      </div>

    </div>
  </div>
</footer> <!-- end footer -->

